body {
	background-color: darkblue;
	color: FF9;
}

button {
	display: block;
}

.turnBlue {
	color: blue;
}

.hulkify {
	font-size: 6em;
}

.addBorder {
	border: 2px solid white;
}

.addRadius {
	border-radius: 15%;
}

article section:first-child {
	font-weight: bold;
}

article section:last-child {
	font-weight: bold;
	font-style: italic;
}